<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>dev.lucasbarake.obsmic.router</string>
	<key>CFBundleName</key>
	<string>obsmic-router</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSAudioCaptureUsageDescription</key>
	<string>obsmic-router captures OBS Studio's audio to route it into the OBS Mic virtual microphone.</string>
</dict>
</plist>
